*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
  --drop-primary: #B4D0E6;
  --drop-accent: #0061FE;
  --drop-light: #ffffff;
  --drop-dark: #000000;
}

.col{
  width: auto;
  flex-basis: auto;
}

.col-1{
  width: calc(100% / 12 * 1);
}

.col-2{
  width: calc(100% / 12 * 2);
  background-color: #00000075;
  color: white;
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.col-3{
  width: calc(100% / 12 * 3);
}

.col-4{
  width: calc(100% / 12 * 4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
}

.col-5{
  width: calc(100% / 12 * 5);
}

.col-6{
  width: 50%;
}

.col-7{
  width: calc(100% / 12 * 7);
}

.col-8{
  width: calc(100% / 12 * 8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.col-9{
  width: calc(100% / 12 * 9);
}

.col-10{
  width: calc(100% / 12 * 10);
}

.col-11{
  width: calc(100% / 12 * 11);
}

.col-12{
  width: 100%;
}

/* start header */

header{
  padding: 0.25rem 1rem 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  background-color: white;
}

.logo{
  margin-right: 2rem;
}

.menu-sx{
  display: flex;
  align-items: center;
  vertical-align: middle;
  color: #000000;
}

.menu-dx{
  display: flex;
  align-items: center;
  vertical-align: middle;
  color: #000000;
}

.voci-sx{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  color: #000000;
}

.voci-dx{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
  color: #000000;
}

.lista-sx{
  text-decoration: none;
  color: #000000;
}

.lista-dx{
  text-decoration: none;
  color: #000000;
}

.btn-inizia{
  background-color: var(--drop-accent);
  color: white;
  padding: 0.5rem;    
  border-style: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
    &:hover{
      background-color: var(--drop-primary);
      color: #000000;
      box-shadow: 2px 2px 2px 2px lightgray;
    }
}

/* end header */

/* start jumbotron */

.jumbotron{
  background-color: var(--drop-primary);
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-container{
  width: 70%;
  height: 450px;
  padding-top: 1rem;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-titolo{
  padding-left: 1rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  font-size: 70px;
}

p{
  color: #000000;
}

.btn-prova{
  background-color: var(--drop-accent);
  color: white;
  padding: 0.75rem;    
  border-style: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icone{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.jumbotron-img{
  width: 100%;
}

/* end jumbotron */

/* start business */

.titolo1{
  display: block;
  padding-left: 21rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.radio{
  display: flex;
}

/* end business */

/* start piani */

#piani{
  padding-bottom: 1.5rem;
  padding-top: 5rem;
}

.container1{
  height: 950px;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.tipologia{
  text-align: center;
  border: 1px solid lightgrey;
  padding: 0.5rem;
}

.interno-card{
  padding: 1.5rem;
  border: 1px solid lightgrey;
  height: 830px;
    .parte1{
      margin-bottom: 2rem;
      line-height: 2rem;
    }
}
  hr{
    margin-top: 2rem;
    width: 30%;
    color: lightgray;
  }
  .parte3{
    margin-top: 2rem;
  }
  .parte2{
    margin-bottom: 0.25rem;
  }
  .caratteristiche1{
    padding-bottom: 0.75rem;
  }
  .caratteristiche2{
    padding-bottom: 0.5rem;
  }

.fa-check{
  color: var(--drop-accent);
}

.team{
  text-align: center;
  padding: 0.5rem;
}

/* end piani */

.container2{
  background-color: coral;
  height: 500px;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* start enterprise */

.container-enterprise{
    height: 250px;
    border: 1px solid lightgrey;
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.col-8,enterprise{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 200px;
}

.enterprise-titolo{
  line-height: 2rem;
}

.enterprise-paragrafo{
  padding-top: 3rem;
}

.col-4>enterprise{
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.btn-contatta{
  background-color: var(--drop-accent);
  color: white;
  padding: 0.75rem 2.5rem 0.75rem;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end enterprise */

/* start partner */

.container-partner{
  height: 500px;
  padding-left: 20rem;
  padding-right: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}

.btn-partner{
  background-color: transparent;
  padding: 0.5rem;
  margin-top: 1rem;
}

.titolo-partner{
  padding-bottom: 1rem;
}

.descrizione-partner{
  padding-top: 10rem;
}

/* end partner */

h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 21rem;
}

.container3{
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.operazioni{
  padding: 0.5rem;
}

.titoletto{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container>.col-4{
    width: calc(100% / 12 * 4);
    background-color: #00000075;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

.titoli-giù{
    padding-top: 6rem;
    padding-bottom: 7rem;
    padding-left: 21rem;
}

.titolo-h3{
  padding-bottom: 2rem;
  font-size: 20px;
}

footer{
    background-color: var(--drop-dark);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-container1{
    width: 850px;
    height: 60%;
    background-color: aquamarine;
}

.footer-container2{
    width: 850px;
    height: 20%;
    background-color: rebeccapurple;
}

