*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --drop-primary: #B4D0E6;
  --drop-accent: #0061FE;
  --drop-light: #ffffff;
  --drop-dark: #000000;
}

.debug{
    border: 1px dashed;
}

.col{
  width: auto;
  flex-basis: auto;
}

.col-1{
  width: calc(100% / 12 * 1);
}

.col-2{
  width: calc(100% / 12 * 2);
  background-color: #00000075;
  color: white;
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.col-3{
  width: calc(100% / 12 * 3);
}

.col-4{
  width: calc(100% / 12 * 4);
  background-color: #00000075;
  color: white;
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.col-5{
  width: calc(100% / 12 * 5);
}

.col-6{
  width: 50%;
}

.col-7{
  width: calc(100% / 12 * 7);
}

.col-8{
  width: calc(100% / 12 * 8);
  background-color: #00000075;
  color: white;
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.col-9{
  width: calc(100% / 12 * 9);
}

.col-10{
  width: calc(100% / 12 * 10);
}

.col-11{
  width: calc(100% / 12 * 11);
}

.col-12{
  width: 100%;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.jumbotron{
    background-color: var(--drop-primary);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.jumbotron-container{
    background-color: #0061FE;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    padding-bottom: 1rem;
}

.titolo1{
    display: block;
    padding-left: 21rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

h1{
    padding-bottom: 2rem;
}

.radio{
    gap: 2rem;
}

.container1{
    background-color: brown;
    height: 500px;
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colonne{
    display: flex;
    justify-content: center;
}

.team{
    text-align: center;
    border: 1px solid lightgrey;
    padding: 0.5rem;
}

.container2{
    background-color: coral;
    height: 500px;
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 21rem;
}

.container3{
    background-color: blueviolet;
    height: 200px;
    padding-left: 20rem;
    padding-right: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.container4{
    background-color: purple;
    height: 200px;
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.container>.col-4{
    width: calc(100% / 12 * 4);
    background-color: #00000075;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

.titoli-giù{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 21rem;
}

footer{
    background-color: var(--drop-dark);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-container1{
    width: 850px;
    height: 60%;
    background-color: aquamarine;
}

.footer-container2{
    width: 850px;
    height: 20%;
    background-color: rebeccapurple;
}

